/* Center the form container */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 70px);
}

/* Style the form */
.form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-top: 30px;
}

/* Style form elements */
.form-group {
    margin-bottom: 15px;
}

/* Style the label */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style the input fields */
.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Add placeholder style */
.form-group input::placeholder {
    color: #888;  /* Lighter color for placeholders */
    font-style: italic;  /* Italicize the placeholder text */
}

/* Style the button */
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white; /* Ensure the text is white by default */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #fff; /* White background on hover */
    color: black; /* Change text color to black on hover */
}


/* Style error messages */
.error-message {
    display: none; /* Hide error messages by default */
    color: red;    /* Red color for error messages */
    font-size: 12px; /* Smaller font size for error messages */
    margin-top: 5px; /* Add some space above the error message */
}

/* Error message when shown */
.error-message.show-error {
    display: inline-block; /* Show the error message */
}

/* Style for the "Register me" checkbox container */


/* Make checkbox input look like a regular form input */
.checkbox-container input[type="checkbox"] {
    width: auto;         /* Reset the width */
    height: auto;        /* Reset the height */
    margin-right: 10px;  /* Add space between the checkbox and label */
    margin-top: 5px;     /* Align vertically */
}


#userProfile {
    display: none;
}

#userProfile.active {
    display: inline;
}


